@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

// colors
$light-gray: #f2f2f2;
$medium-gray: #C4C4C4;
$gray: #4f4f4f;
$blue: #2f80ed;
$blue-dark: #126be3;


$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$dark-blue: #44009b;
$blue: #5d6de8;
$light-blue: #dfe9fd;
$box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
$dark-gray: #4f4f4f;
$lighter-gray: #c4c4c4;
$background: #FBFBFB;


$primary: $blue;
$font-color: $gray;
$background: #fdfdfd;
$card-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
$card-border-radius: 4px;
$avatar-box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.25);
$margin-left-container: 9px;
$aside-width: 335px;
$aside-right-width: 805px;
$menus-width: 50px;
$user-card-space: 126px;
$margin-left-container-aside-opened: $margin-left-container + $aside-width;
$margin-right-container-aside-opened: $margin-left-container + $aside-right-width;
$aside-transition: 0.25s all ease;
$aside-transition-longer: 0.4s all ease;

$family-sans-serif: "Ubuntu", sans-serif;
$grey-dark: $gray;
$grey-light: $light-gray;
$link: $primary;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $background;
$control-border-width: 1px;
$input-shadow: none;
$modal-background-background-color: rgba(0, 0, 0, .4);

$slider-track-background: $primary;

@import "../node_modules/bulma/bulma.sass";
