{% extends "base_auth.html" %}

{% block content %}
<div class="holis-login-wrap">
    <form class="is-active" id="checkForm">
        <h3>Inicia sesión en tu espacio de trabajo 👋</h3>
        {% csrf_token %}
        <div class="field">
            <label class="label" to="company-check">Tu espacio de trabajo</label>
            <p class="control has-icons-right">
                <input class="input" type="text" placeholder="patacon-inc" name="company-check" required />
                <span class="icon is-small is-right">
                    .holis.chat
                </span>
            </p>
        </div>
        <div class="auth-options">
            <a class="button is-primary is-inverted" href="#">Crea un nuevo espacio de trabajo</a>
            <a class="button is-primary" onclick="handleContinue()">Continuar</a>
        </div>
    </form>
    <form id="loginForm" method="post" role="form">
        <h3>Inicia sesión en <span id="companyName"></span> 👋</h3>
        {% csrf_token %}
        <div class="field">
            <label class="label" to="email">Tu email</label>
            <input class="input" type="email" placeholder="Ex.: juaninjuanharry@31minutos.com" name="email" required />
        </div>
        <div class="field">
            <label class="label" to="email">Tu password</label>
            <input class="input" type="password" placeholder="******" name="password" required />
        </div>
        <input class="input" type="hidden" name="company" value="" />
        <input class="button is-primary" type="submit" value="Login" />
    </form>

    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape  }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape  }}</strong>
    </div>
    {% endfor %}
    {% endif %}</strong>
</div></strong></div>
{% endblock %}

</div>
</form>
</div>