{% extends "base_auth.html" %}

{% block content %}
<div class="holis-login-wrap">
    <form class="holis-login-form is-active" id="loginForm" method="post" role="form">
        <h3>Log into <span id="companyName"> {{ request.company.name }}</span> 👋</h3>
        {% csrf_token %}
        <div class="field">
            <label class="label" to="email" value="{{ email }}">Your email</label>
            <input class="input" type="email" placeholder="Ex.: juaninjuanharry@31minutos.com" name="email" required />
        </div>
        <div class="field">
            <label class="label" to="email">Your password</label>
            <input class="input" type="password" placeholder="******" name="password" required />
        </div>
        <input class="input" type="hidden" name="company" value="" />
        <div class="notification js-notifications is-danger">
        </div>
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="notification is-danger is-active">
            <strong>{{ error|escape  }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="notification is-danger is-active">
            <strong>{{ error|escape  }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="auth-options">
            <a class="button is-primary is-inverted" onclick="handleGoBack()">Return</a>
            <input class="button is-primary" type="submit" value="Log In" />
        </div>
    </form>
</div>
</div>
{% endblock %}
