{% load static i18n compress%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Holis - Work remotely without losing team spirit{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  {% block css %}

  <link href=" https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Your stuff: Third-party CSS libraries go here -->
  <link rel=" stylesheet" href="{% static 'css/project.css' %}">
  {% compress css %}
  <!-- This file stores project-specific CSS -->
  {% endcompress %}
  {% endblock %}
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

  <nav class="espazum-navbar">
    <div class="container">
      <div class="espazum-navbar-mobile-container">
        <div class="espazum-navbar-logo">
          <img class="espazum-navbar-logo--color" src="{% static 'images/Holis.svg' %}" alt="Holis">
          <img class="espazum-navbar-logo--white" src="{% static 'images/HolisBlanco.svg' %}" alt="Holis" />
        </div>
        <i onclick="handleNavMenu()" id="menu-btn" class="fas fa-bars"></i>
      </div>

      <ul class="espazum-navbar-links">
        <li>
          <a href="/">Home</a>
        </li>
        <!-- <li> -->
        <!--   <a href="/">{% trans 'About' %}</a> -->
        <!-- </li> -->
        <li>
          <a target="_blank" href="https://medium.com/@holischat">{% trans 'Blog' %}</a>
        </li>
        <li>
          <a class="button" href="#cta-get-early-access">{% trans 'EARLY-ACCESS' %}</a>
        </li>
      </ul>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button"
      class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
  {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock content %}

  <footer>
    <div class="container">
      <div class="columns">
        <div class="column is-2">
          <b>Company</b>
          <ul>
            <li><a href="#">{% trans 'Home' %}</a></li>
            <!-- <li><a href="#">{% trans 'About' %}</a></li> -->
            <li><a href="https://medium.com/@holischat">{% trans 'Blog' %}</a></li>
          </ul>
        </div>
        <div class="column is-2">
          <!-- <b>Legal</b> -->
          <!-- <ul> -->
          <!--   <li><a href="#">{% trans 'Terms and Conditions' %}</a></li> -->
          <!--   <li><a href="#">{% trans 'Privacy Policy' %}</a></li> -->
          <!-- </ul> -->
        </div>
        <div class="column is-8 has-text-right">
          <p class="espazum-credits">{% trans 'All rights reserved' %} <img src="{% static 'images/HolisBlanco.svg' %}"
              alt="Holis"></p>
          <ul class="espazum-rrss">
            <li><a target="_blank" href="https://instagram.com/holischat"><i class="fab fa-3x fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/holischat"><i class="fab fa-3x fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://www.twitter.com/holischat"><i class="fab fa-3x fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  {% block modal %}{% endblock modal %}

  <!-- Le javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% compress js %}
  <script src="{% static 'js/project.js' %}"></script>
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="763fd9e7-0e17-4e9b-b4f0-37b2cda5fbc8";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>


  {% endcompress %}
  {% block javascript %}
  <!-- Your stuff: Third-party javascript libraries go here -->
  {% endblock javascript %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168038724-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168038724-1');
    </script>
</body>

</html>
