@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
// project specific CSS goes here

////////////////////////////////
//Variables//
////////////////////////////////
$card-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
$card-border-radius: 4px;
$medium-gray: #c4c4c4;

// Alert colors
////////////////////////////////
//Alerts//
////////////////////////////////

@import "./vars";
@import "./bulma/bulma.sass";
@import "./inputs";

.auth {
    &-wrapper {
        padding-top: 130px;
        min-height: 100vh;
        background-size: 100%;
        background-image: url(../images/clear_bg.svg);
        background-size: 90%;
        background-repeat: no-repeat;
    }
    
    &-card {
        width: 834px;
        margin: 0 auto;
        padding: 40px 65px;
        position: relative;
        
        .field-label {
            text-align: left;
        }
        .file-label {
            width: 100%;
            
            .file-name {
                max-width: none;
                width: 100%;
            }
        }
        
        .field:not(:last-child) {
            margin-bottom: 24px;
        }
        
        form {
            margin: 0 auto;
            max-width: 70%;
            
            h3 {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 24px;
            }
        }

        .pass-pills {

        }
    }
    
    &-content {
        width: 522px;
        max-width: 98%;
        margin: 0 auto;
        text-align: center;
        
        
        .button {
            border-radius: 14px;
        }
        
        .espazum-inner-button-field {
            margin-top: 50px;
            .button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
    
    &-logo {
        position: absolute;
        top: -49px;
        left: 18px;
        
        &.no-absolute {
            position: static;
            margin: 15px auto;
        }
    }
    
    &-options {
        display: flex;
        justify-content: flex-end;
        margin: 15px 0;
        
        & > * {
            margin-left: 16px;
        }
    }
    
    &-message {
        > * {
            margin-bottom: 35px; 
        }
    }
}

.onboarding {
    &-stepper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            vertical-align: middle;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            border-radius: 50%;
            color: #fff;
            width: 39px;
            height: 39px;
            font-size: 24px;
            margin-right: 16px;
            background: #bdbdbd;
        }
        
        li {
            display: flex;
            align-items: center;
            
            &.active {
                font-size: 24px;
                font-weight: 500;
                span {
                    width: 59px;
                    height: 59px;
                    font-size: 48px;
                    background: $primary;
                }
            }
        }
    }
}

.connect-card {
    box-shadow: $card-box-shadow;
    border-radius: $card-border-radius;
    background-color: #fff;
    
    &--outline {
        box-shadow: none;
        border: 1px solid $medium-gray;
    }
    
    &-actions {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.holis-login-wrap, .holis-signup-wrap {
    form {
        display: none;
        
        &.is-active {
            display: block;
            
            .control.has-icons-right .input {
                padding-right: 6rem;
            }
            .control.has-icons-right .icon {
                width: 6.5rem;
            }
        }
    }
    
    .notification {
        display: none;
        
        &.is-active {
            display: block;
        }
    }
}

.holis-stepper {
    display: flex;
    margin-bottom: 30px;
    
    &-number {
        background-color: $primary;
        color: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 48px;
    }
    
    &-text {
        margin-left: 15px;
        h2 {
            font-size: 24px;
            font-weight: 500;
        }
    }
}

.gray-text {
    color: #828282;
}