{% extends "base_auth.html" %}
{% load static i18n %}
{% block content %}
<div class="holis-signup-wrap">
    <form method="post" id="invitationsForm" class="is-active" onsubmit="return handleFinishInvitations(e)">
        <div class="holis-stepper">
            <div class="holis-stepper-number">
                3
            </div>
            <div class="holis-stepper-text">
                <h2>{% trans 'Invite your team!' %}</h2>
                <p>{% trans 'Step 3 of 3' %}</p>
            </div>
        </div>
        <p><a href="/">Holis</a>
            {% trans 'it\'s made to share, invite your team and start together this new experience!' %}</p>
        {% csrf_token %}
        <div id="inputsWrapper">
            <input type="hidden" name="invitations" required="" id="id_invitations">
            <div class="field">
                <label class="label" to="email">{% trans 'Your partner\'s email' %}</label>
                <input class="input" type="email" maxlength="50"
                    placeholder="{% trans 'Ex. juaninjuanharry@mail.com' %}" id="email1">
            </div>
            <div class="field">
                <label class="label" to="email">{% trans 'Your partner\'s email' %}</label>
                <input class="input" type="email" maxlength="50"
                    placeholder="{% trans 'Ex. juaninjuanharry@mail.com' %}" id="email2">
            </div>
        </div>
        <div class="auth-options">
            <a href="#" class="button is-inverted is-primary"
                onclick="handleInvitationInputs()"><span>{% trans 'Add new partner' %}</span>
                <span class="icon">
                    <i class="fas fa-plus-circle"></i>
                </span>
            </a>
        </div>
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="notification is-danger is-active">
            <strong>{{ error|escape  }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="notification is-danger is-active">
            <strong>{{ error|escape  }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="auth-options">
            <button class="button is-primary is-outlined">{% trans 'Skip' %}</button>
            <a class="button is-primary" onclick="handleFinishInvitations()">{% trans 'Finish' %}</a>
        </div>
    </form>
</div>
{% endblock %}
