@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
// project specific CSS goes here

////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors
////////////////////////////////
//Alerts//
////////////////////////////////

@import "./vars";
@import "./exposed";
@import "./bulma/bulma.sass";

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

html {
    scroll-behavior: smooth;
}

.strike {
    text-decoration: line-through;
}

.alert-debug {
    background-color: $white;
    border-color: $mint-green;
    color: $black;
}

.alert-error {
    background-color: $pink;
    border-color: $dark-pink;
    color: $red;
}

html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    color: $dark-gray;
    background: $background;
}

.button {
    border-radius: 16px;
    box-shadow: $box-shadow;
    font-weight: 500;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

@import "./inputs";
@import "./navbar";
@import "./hero";
@import "./carousel";
@import "./exposed";
@import "./soon_release";

// HEADER

.has-holis-gradient {
    background: #44009B;
    background: -webkit-linear-gradient(to right, #44009B 0%, #5d6de8 100%);
    background: -moz-linear-gradient(to right, #44009B 0%, #5d6de8 100%);
    background: linear-gradient(to right, #44009B 0%, #5d6de8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.is-holis-title {
    font-weight: 800;
    font-size: 2.25rem;
}

.hero {
    background-image: url("/static/images/web_v2/vector_left.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
}

body {
    background-image: url("/static/images/web_v2/vector_right.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
}

.holis-navbar {
    margin-top: 2%;

    .navbar-start {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar-item {
        img {
            max-height: 4.75rem;
        }
    }

    .navbar-burger {
        height: 5.25rem !important;

        span {
            width: 20px;
        }
    }

    #navbarMenuHeroA {
        font-weight: 500;
        a {
            color: $dark-blue;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}

.hero-title {
    margin-top: 3%;

    .title {
        h1 {
            font-weight: 800;
            font-size: xxx-large;
        }
    }

    .subtitle {
        h5 {
            margin-top: 5%;
            font-size: x-large;
        }
    }
}

.hero-call-to-action {
    display: flex;
    flex-direction: column;
    margin-top: 3.2%;
    justify-content: center;
    align-items: center;

    span {
        margin-top: 0%;
        font-size: 0.8rem;
    }
}

.try-button {
    width: 200px;
    color: white;
    background: $blue;
    margin-bottom: 2%;
}

.vector-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8.4%;

    a {
        margin-top: 2.4%;
        margin: 2%;
    }
}

.holis-exposed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-holis {
    margin-top: -15%;
    margin-left: 9%;
    margin-right: 4%;

    &-hero-blobs {
        position: absolute;
        top: 50;
        right: 0;
    }

    &-feedback {
        padding-right: 8%;

        &-profile {
            display: flex;
            padding: 8px;

            &-sign {
                margin-top: 4.2%;
                margin-left: 6%;
                color: blue;
            }
        }
    }

    &-title {
        margin-bottom: 5%;
        font-weight: 800;
    }

    &-content {
        p {
            margin-bottom: 30px;
        }
    }
}

.holis {
    &-carousel {
        transform-style: preserve-3d;
        min-height: 435px;

        &-img {
            opacity: 1;
            position: absolute;
            top: 85px;
            width: 100%;
            margin: auto;
            padding: 0;
            z-index: 100;
            transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
        }
    }

    &-features {
        margin-top: 5%;
        &-title {
            margin-bottom: 4%;
        }

        background-image: url('/static/images/clear_bg.svg');
        background-repeat: no-repeat;
        background-size: 94%;
    }

}

@media screen and (max-width: 768px) {

    .why-holis {
        margin-top: 3.5%;
    }

    .holis-carousel {
        display: none;
    }


    .navbar-burger {
        span {
            color: white;
            font-size: 1.5rem;
        }
    }

    .navbar-start {
        display: flex;
        flex-direction: column;
    }

    .go-to-workplace {
        position:absolute;
        right: 17px;
        top: 22px;
    }

    .vector-hero {
        margin-top: 20%;
    }

    .hero {
        background-size: 240%;
    }

    .title {
        color: white;
        margin-top: 12%;
    }

    .subtitle {
        color: white;
        margin-bottom: 20%;

        h5 {
            font-size: 1.7rem;
            margin-top: 12% !important;
            margin: 10%;
        }
    }

    .hero-call-to-action {
        color: white;
        margin-top: -8%;

        .try-button {
            width: 230px;
        }
    }


    .holis-features {
        background-image: None;

        .box {
            margin-left: 5%;
            margin-right: 2%;
        }
    }


    .holis-pricing {
        &-wrapper {
            margin: 3%;
        }

        &-box {
            margin-left: 2% !important;
            margin-right: 2%;
            margin-top: 5%;
            margin-bottom: 4%;

            &-limited {
                top: -19px !important;
            }
        }


        .try-button {
            width: 230px;
        }

    }

    .holis-pricing-payment-advice {
        margin-top: -2% !important;
        font-size: 1rem;
    }



    footer {
        margin-top: 33% !important;

        font-size: 1.5rem;

        .holis-icon-footer {
            margin-left: 9% !important;
        }


        .holis-language-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .holis-footer-call-to-action {
            display: flex;
            align-items: center;
        }

        .button {
            width: 80%;
            height: 45px;
            font-size: 1.3rem;
        }


        .holis-rrss {
            font-size: 1rem;
            margin: 4%;
        }

    }
}


.holis {
    &-pricing {
        margin-top: 10%;
        display: flex;
        flex-direction: column;

        &-wrapper {
            justify-content: center;
        }

        &-title {
            margin-bottom: 6%;
            max-width: 60%;
            align-self: center;
        }

        &-box {
            max-width: 400px;
            border:  2px solid $blue;
            border-radius: 10px;
            box-sizing: border-box;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            margin-left: 2%;

            &-limited {
                background-color: $blue;
                color: white;
                position: relative;
                top: -28px;
                width: 220px;
                align-self: center;
                border-radius: 10px;
            }



            &-progress {
                position: relative;
                align-self: center;
                width: 310px;
                height: 15px;
                margin-bottom: 10%;

                &-text {
                    align-self: flex-end;
                    position: relative;
                    top: -4px;
                    left: 66px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                }


                &-bar {
                    width: 100%;
                    height: 100%;

                    background: #DEDEDE;
                    border-radius: 15px;

                    &-current-progress {
                        position: absolute;
                        // width: 90px;
                        height: 15px;

                        background: #37BA3C;
                        border-radius: 15px;
                    }
                }
            }


            &-price {
                margin-bottom: 5%;
                display: flex;
                flex-direction: column;

                span {
                    margin: 0.5%;
                }

                .price-dollars {
                    font-size: 60px;
                    line-height: 68.94px;
                    font-weight: 700;
                }

                .price-frecuency
                .price-frecuency-2 {
                    font-size: 0.8rem;                    
                }
            }

            &-features {
                li {
                    margin: 10px;
                    margin-left: 28px;
                }
            }

            .try-button {
                margin-top: 10%;
                align-self: center;
            }
        }

        &-payment-advice {
            margin-top: 2%;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
        }
    }
}



footer {
  margin-top: 2%;
  padding-top: 50px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  background-color: $dark-blue;
  position: relative;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: $light-blue;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: -239px;
    left: 0;
    background-image: url(../images/curve.svg);
    height: 274px;
    width: 350px;
    background-size: cover;
  }

  .language {
      margin: 5%;
  }

  .holis-rrss {
      li {
          display: inline;
          margin: 3%;
      }
  }

  .holis-icon-footer {
      margin-left: 40%;
  }
}




