{% extends "base_v2.html" %}
{% load static i18n %}
{% load martortags %}

{% block content %}
<body>
    {% include "pages/partials/navbar.html" %}
    <section class="holis-blog-list">
        <div class="holis-blog-list-featured-post columns">

            {% for post in object_list %}
                <div class="holis-blog-list-featured-post-image column is-half">
                    <a href="{% url  'web:blog-single' post.category.slug post.slug %}">
                        <img src="{{ post.image.url }}" alt="">
                    </a>
                </div>
                <div class="holis-blog-list-featured-post-content column is-half">
                    <a href="{% url  'web:blog-single' post.category.slug post.slug %}">
                        <div class="holis-blog-list-featured-post-content-title">
                            {{ post.title | title }}
                        </div>
                    </a>
                    <div class="holis-blog-list-featured-post-content-extract">
                        {{ post.content | truncatechars:300 | safe_markdown }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <link rel="stylesheet" href="{% static "css/blog_list.min.css" %}">
</body>
{% endblock %}
