{% extends "base_auth.html" %}
{% load static i18n %}
{% block content %}
<div class="holis-signup-wrap">
    <form class="is-active" action="." method="POST">
        <div class="holis-stepper">
            <div class="holis-stepper-number">
                1
            </div>
            <div class="holis-stepper-text">
                <h2>Cuéntanos acerca de tu equipo</h2>
                <p>Paso 1 de 3</p>
            </div>
        </div>
        {% csrf_token %}
        <div class="holis-field-message">
            <div class="field">
                <label class="label" to="email">El nombre de tu equipo o empresa</label>
                <input class="input" type="text" name="company_name" maxlength="100" id="id_company_name" required>
            </div>

            <div class="holis-form-message is-active">
                <div class="holis-form-message-animation is-active">
                    <img src="{% static 'images/Startup.svg' %}" alt="startup">
                </div>
                <div class="holis-form-message-msg is-active">
                    <p>Tu subdominio será <span id="subdomain"></span>.holis.chat</p>
                    <small>¿No te gusta este subdominio? <a href="#">Puedes cambiarlo</a></small>
                </div>
            </div>
        </div>

        <div id="subdomain-field" class="field">
            <label class="label" to="email">Tu subdominio</label>
            <p class="control has-icons-right">
                <input class="input" type="text" name="company_code" maxlength="20" id="id_company_code">
                <span class="icon is-small is-right">
                    .holis.chat
                </span>
            </p>
        </div>
        <div class="field">
            <p>Al continuar estás aceptando nuestros <a href="#">términos y condiciones</a></p>
        </div>
        <div class="auth-options">
            <button class="button is-primary" type="submit">Continue</button>
        </div>
    </form>
</div>
{% endblock %}