{% extends "base_auth.html" %}
{% load static i18n %}
{% block content %}
<div class="holis-signup-wrap">
    <form class="is-active" action="." method="POST">
        <div class="holis-stepper">
            <div class="holis-stepper-number">
                2
            </div>
            <div class="holis-stepper-text">
                <h2>Cuéntanos acerca de ti</h2>
                <p>Paso 2 de 3</p>
            </div>
        </div>
        {% csrf_token %}
        <div class="field">
            <label class="label" to="id_name">Tu nombre</label>
            <input class="input" type="text" name="name" maxlength="100" id="id_name">
        </div>
        <div class="field">
            <label class="label" to="id_position">Tu cargo</label>
            <input class="input" type="text" name="position" maxlength="50" id="id_position">
        </div>
        <div class="field">
            <label class="label" to="id_avatar">Tu foto</label>
            <small>Esa donde estás bien guapo</small>
            <div class="file has-name">
                <label class="file-label">
                    <input class="file-input" onchange="handleFileInput()" type="file" name="avatar" accept="image/*" id="id_avatar">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose a file…
                        </span>
                    </span>
                    <span class="file-name">
                        Screen Shot 2017-07-29 at 15.54.25.png
                    </span>
                </label>
            </div>
        </div>
        <div class="auth-options">
            <button class="button is-primary" type="submit">Continue</button>
        </div>
    </form>
</div>
{% endblock %}