{% extends "base_auth.html" %}
{% load static i18n %}
{% block content %}
<div class="holis-signup-wrap">
    <form class="is-active" action="." method="POST">
        <div class="holis-stepper">
            <div class="holis-stepper-number">
                2
            </div>
            <div class="holis-stepper-text">
                <h2>{% trans 'Tell us about you' %}</h2>
                <p>{% trans 'Step 2 of 3' %}</p>
            </div>
        </div>
        {% csrf_token %}
        <div class="field">
            <label class="label" to="id_name">{% trans 'Your name' %}</label>
            <input class="input" type="text" name="name" placeholder="{% trans 'Ex. Juanin Juan Harry' %}"
                maxlength="100" id="id_name" required>
        </div>
        <div class="field">
            <label class="label" to="id_position">{% trans 'Your position' %}</label>
            <input class="input" type="text" name="position"
                placeholder="{% trans 'Ex. News producer, Studios\'s coordinator' %}" maxlength="50" id="id_position">
        </div>
        <div class="field">
            <label class="label" to="id_avatar">{% trans 'Your picture' %}</label>
            <div class="file has-name">
                <label class="file-label">
                    <input class="file-input" onchange="handleFileInput(this.files)" type="file" name="avatar"
                        accept="image/*" id="id_avatar">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            {% trans 'Choose a file…' %}
                        </span>
                    </span>
                    <span id="fileName" class="file-name">{% trans 'Show off that nice smile you have!' %}</span>
                </label>
            </div>
        </div>

        <div id="passwordField" class="holis-field-message">
            <div class="field">
                <label class="label" to="company_name">{% trans 'Your password' %}</label>
                <p class="control has-icons-right">
                    <input class="input" type="password" placeholder="*******">
                    <span class="icon is-right">
                        <i class="fa fa-eye"></i>
                    </span>
                </p>
            </div>

            <div class="holis-form-message">
                <div class="holis-form-message-animation is-active">
                    <img src="{% static 'images/Startup.svg' %}" alt="startup">
                </div>
                <div class="holis-form-message-msg is-active">
                    <p>{% trans 'Pro tip, a safe password should contain:' %} </p>
                    <small>
                        <span class="pass-pills" id="pass-letters">ABC</span>
                        <span class="pass-pills" id="pass-numbers">123</span>
                        <span class="pass-pills" id="pass-punctuation">%$!</span>
                    </small>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" to="company_name">{% trans 'Repeat your password' %}</label>
            <input class="input" type="password" placeholder="*******">
        </div>
        <div class="auth-options">
            <button class="button is-primary" type="submit">{% trans 'Continue' %}</button>
        </div>
    </form>
</div>
{% endblock %}