{% extends "base_v2.html" %}
{% load static i18n %}
{% load martortags %}

{% block content %}
<body>
    {% include "pages/partials/navbar.html" %}
    <section class="holis-blog-list">
        <div class="holis-blog-list-featured-post columns">
            <div class="holis-blog-list-featured-post-image column is-half">
                <img src="{{ object_list.0.image.url }}" alt="">
            </div>
            <div class="holis-blog-list-featured-post-content column is-half">
                <div class="holis-blog-list-featured-post-content-title">
                    This is my super title
                </div>
                <div class="holis-blog-list-featured-post-content-extract">
                    {% lorem 1 %}
                </div>
            </div>
        </div>
    </section>

    <link rel="stylesheet" href="{% static "css/blog_list.min.css" %}">
</body>
{% endblock %}
