{% extends "base.html" %}
{% load static i18n compress%}

{% block content %}
<section class="espazum-hero">
    <picture class="espazum-hero-blobs">
        <source media="(max-width: 900px)" srcset="{% static 'images/mobile-header-blobs.svg' %}">
        <source media="(min-width: 901px)" srcset="{% static 'images/header-blobs.svg' %}">
        <img src="{% static 'images/mobile-header-blobs.svg' %}" />
    </picture>
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-4-fullhd is-4-desktop is-12-tablet">
                <h1>{% trans 'CALL-TO-ACTION-HEADER' %} </h1>
                <picture class="espazum-hero-images-mobile">
                    <source media="(min-width: 600px)" srcset="{% static 'images/home/hero.svg' %}">

                    <source media="(min-width: 600px)"
                        srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==">

                    <img src="{% static 'images/home/hero.svg' %}" alt="Espazum Teams young adults">
                </picture>
                <form id="header-get-early-access">
                    <div class="espazum-inner-button-field">
                        <input class="input" type="email" placeholder="mail@mail.com">
                        <button onclick="getEarlyAccess('header-get-early-access')" type="button"
                            class="button is-primary"> {% trans 'EARLY-ACCESS' %}</button>
                    </div>
                    <div class="espazum-form-message">
                        <div>
                            <script
                                src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_NcXIOl.json"
                                background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                        </div>
                        <div class="espazum-form-message-msg">
                            <h4>¡Yaaaay!</h4>
                            Ya eres parte de nuestra lista
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-8-fullhd is-8-desktop is-12-tablet">
                <div class="espazum-hero-images-desktop espazum-carousel-wrapper">
                    <div class="espazum-carousel">
                        <img class="espazum-carousel-img" src="{% static 'images/home/hero.svg' %}"
                            alt="Holis Teams young adults" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="espazum-exposed">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6-fullhd is-10-tablet has-text-centered">
                <h2>{% trans 'FEATURE-MAIN-TITLE' %}</h2>
                {% trans 'FEATURE-MAIN-CONTENT' %}
            </div>
        </div>

        <div class="espazum-exposed-wrapper">
            <img class="espazum-exposed-laptop" src="{% static 'images/laptop.svg'%}" alt="Holis">
            <img data-aos="zoom-in-up" class="espazum-exposed-notification"
                src="{% static 'images/home/notification.svg'%}" alt="Holis">
            <img data-aos="zoom-in-up" class="espazum-exposed-whos-talking"
                src="{% static 'images/home/whos_talkin.svg'%}" alt="Holis">
            <div data-aos="zoom-in-up" class="espazum-exposed-play-wrapper">
                <img class="espazum-exposed-play-icon" src="{% static 'images/home/play.svg'%}" alt="Holis">
                <button class="espazum-exposed-play-button">{% trans 'Look how it works' %}</button>
            </div>
            <img data-aos="zoom-in-up" class="espazum-exposed-chat" src="{% static 'images/home/exposed_chat.svg'%}"
                alt="Holis">
        </div>
    </div>
</section>

<section class="espazum-features">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8-fullhd">
                <div class="box">
                    <div class="columns">
                        <div class="column has-text-centered border-right">
                            <img src="{% static 'images/features/real_time_vocie.svg' %}" alt="Real time voice" />
                            <h3>{% trans 'FEATURE-1-TITLE' %}</h3>
                            <p>{% trans 'FEATURE-1-CONTENT' %}</p>
                        </div>
                        <div class="column has-text-centered border-right">
                            <img src="{% static 'images/features/Chat.svg' %}" alt="Enterprise Chat" />
                            <h3>{% trans 'FEATURE-2-TITLE' %}</h3>
                            <p>{% trans 'FEATURE-2-CONTENT' %}</p>
                        </div>
                        <div class="column has-text-centered">
                            <img src="{% static 'images/features/analytics.svg' %}" alt="Analytics" />
                            <h3>{% trans 'FEATURE-3-TITLE' %}</h3>
                            <p>{% trans 'FEATURE-3-CONTENT' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="espazum-cta">
    <div class="container">
        <div class="columns is-centered is-vcentered">
            <div class="column is-5-fullhd">
                <h2>{% trans 'CALL-TO-ACTION-FOOTER' %}</h2>
            </div>
            <div class="column is-5-fullhd">
                <form id="cta-get-early-access">
                    <div class="espazum-inner-button-field">
                        <input class="input" type="email" placeholder="mail@mail.com">
                        <button onclick="getEarlyAccess('cta-get-early-access')" type="button"
                            class="button is-primary"> {% trans 'EARLY-ACCESS' %}</button>
                    </div>
                    <div class="espazum-form-message">
                        <div>
                            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_NcXIOl.json"
                                background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                        </div>
                        <div class="espazum-form-message-msg">
                            <h4>¡Yaaaay!</h4>
                            Ya eres parte de nuestra lista
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script>
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<script>
    !(function (d) {
        const images = [
            `<img class="espazum-carousel-img" src="{% static 'images/home/hero.svg' %}" alt="Holis Teams young adults" />`,
            `<img class="espazum-carousel-img" src="{% static 'images/home/hero-boys.svg' %}" alt="Holis Teams boys" />`,
            `<img class="espazum-carousel-img" src="{% static 'images/home/hero-girls.svg' %}" alt="Holis Teams girls" />`
        ],
            carousel = d.getElementsByClassName('espazum-carousel')[0];

        setInterval(() => {
            const randomImg = images[Math.floor(Math.random() * images.length)];
            carousel.innerHTML = randomImg
        }, 2000)

    }(document));
</script>
{% endblock %}